version: '3.4'

services:
  mtbvisualizer:
    image: ${DOCKER_REGISTRY-}mtbvisualizer
    build:
      context: .
      dockerfile: Web/WebMVC/mtbVisualizer/Dockerfile
    depends_on:
      - map.api
      - summary.api

  map.api:
    image: ${DOCKER_REGISTRY-}mapapi
    build:
      context: .
      dockerfile: Services/Map/Map.API/Dockerfile
    depends_on:
      - sqldata

  summary.api:
    image: ${DOCKER_REGISTRY-}summaryapi
    build:
      context: .
      dockerfile: Services/Summary/Summary.API/Dockerfile
    depends_on:
      - sqldata

  sqldata:
    image: mcr.microsoft.com/mssql/server  