@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row align-items-center justify-content-center mt-5">
    <div class="col-6 text-center justify-content-between container-with-shadow">
        <h3 class="text-center mt-4 mb-4">Please login with Strava to view your activities</h3>
        <form id=" form-signin external-account align-items-center" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn btn-primary btn-lg" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Strava Login</button>
                    }
                </p>
            </div>
        </form>
    </div>
</div>

<div class="row align-items-center justify-content-center mt-5" role="Login image">
    <div class="col-6 text-center">
        <img id="home_image_left" class="img-fluid rounded margin-bottom container-with-shadow" src="~/Images/Home_DanLLShuttle.jpg" alt="Mountain biker enjoying view of Mount Rainer" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
