@using MtbVisualizer.Models.MonthSummary
@model MonthSummary

<h3 class="text-center">Active days this month</h3>
<div id="datepicker" class="home-item  container-with-shadow text-light"></div>

<script type="text/javascript" >
    @if (Model != null)
    {
        @:var activeDates = {}
        foreach (var activity in Model.Activites)
        {
            @: var csharpDate = "@activity.Summary.StartDate.Value.Date.ToString()"
            @: var date = new Date(Date.parse(csharpDate))
            @: activeDates[date] = date.toString()
        }

        @:var eventDates = {}
        @:eventDates[new Date('10/10/2019')] = new Date('10/10/2019').toString()
        @:$(function () {
        @:    $("#datepicker").datepicker({           
        @:        beforeShowDay: function (date) {
        @:              var highlight = activeDates[date]
        @:              if (highlight) {            
        @:                    return [true, "activity", '']
        @:                }
        @:                else {
        @:                  return [true, '', '']
        @:                }
        @:            }
        @:        });
        @:});
    }
    else
    {
        @:$(function () {
        @:    $("#datepicker").datepicker();           
        @:})
    }
</script>
