@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Visuals for your Strava data</h1>
    <p>View all of your activity history on a map.</p>
</div>

<div class="row">
    <div class="col-1 ui-icon-calendar">
        Calendar
    </div>
    <hr/>
    <div class="col-2" style="position:relative; width:100%;height:150px;">
        Map
    </div>
</div>
<div class="row">
    <table>

    </table>
</div>
