@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Visuals for your Strava data</h1>
    <p>View all of your activity history on a map.</p>
</div>

<div>

</div>

