@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Visuals for your Strava data</h1>
    <p>View all of your activity history on a map.</p>
</div>

<div class="container-flex">
    <div id="datepicker" class="fixed"></div>
    <div class="flex-item" id="mapDiv" style="position:relative;width:300px;height:300px; border:1px solid black;"></div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
    <script>
        $.ajax({
            url: '@Url.Action("LoadMap", "Map")',
            type: 'GET',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                $('#mapDiv').html(result);
            }
        });
    </script>
}


