@{
    ViewData["Title"] = "Home Page";
}

<div id="homeDiv" class="row mb-3">
    <div class="col">
        @if (!User.Identity.IsAuthenticated)
        {
            <h1 class="display-4 text-center">Visuals for your Strava data</h1>
            <h6 class="text-center margin-bottom">
                <a asp-area="Identity" asp-page="/Account/Login">Login</a> to view to a monthly summary of your Strava data. 
                You can also see a history of all your run, ride, and all other activities on the 
                <a asp-area="" asp-controller="Map" asp-action="LoadMap">Map</a> page.
            </h6>
        }
        else
        {
            <h1 class="display-4 text-center margin-bottom">Visuals for your Strava data</h1>

        }
    </div>
</div>

<div class="row mb-3">    
    <div id="calendarDiv"class="col">
    </div>
 </div>         

<div class="row">    
    <div id="tableDiv" class="col">        
    </div>
</div>


@section Scripts{

    <script>
        var today = new Date()
        $("#calendarDiv").load('@Url.Action("LoadCalendarPartial")', { date: today.toISOString() })
        $("#tableDiv").load('@Url.Action("LoadTablePartial")', { date: today.toISOString() })
    </script>
}


