@using IO.Swagger.Model


<div id='map' style='width: 400px; height: 300px;'>       
    <script>
        @*var latlongString = '@ViewBag.latlong' *@
        var coords = "47.04,-122.97"
        renderMapWithMarker(coords, coords)
    </script>
</div>



