@{
    ViewData["Title"] = "Privacy Policy";
}


<div id="privacyDiv" class="row mb-3">
    <div class="col justify-content-around">
        <h1 class="display-4 text-center">@ViewData["Title"]</h1>
        <p class="text-center">
            All of your requested data from Strava is kept private and secure. The data is not shared with anyone or anything.
            This site uses a delegation protocol know as OAuth to confirm your identity with your Strava username
            password and then uses your permission to request data from your Strava account.
        </p>
        <h6 class="text-center margin-bottom"><em>Powered by Strava</em></h6>
    </div>
</div>

<div class="row align-items-center justify-content-center mt-5" role="Privacy Image">
    <div class="col-6 text-center">
        <img id="privacy_image" class="img-fluid rounded margin-bottom container-with-shadow" src="~/Images/Home_GroundControl1.jpg" alt="Mountain biker in a beautiful green forest" />
    </div>
</div>