
@{
    ViewData["Title"] = "PageNotFound";
}

<div id="privacyDiv" class="row mb-3">
    <div class="col justify-content-around">
        <h1 class=" display-4 text-center">Opps wrong page!</h1>
        <h4 class="text-center">
            You can go back to our <a asp-area="" asp-controller="Home" asp-action="Index">Homepage</a>
            or you can go to the <a asp-area="" asp-controller="Home" asp-action="Index">Map</a> page to checkout your activities.
        </h4>
    </div>
</div>
<div class="row align-items-center justify-content-center mt-5" role="Error_Page Image">
    <div class="col-6 text-center">
        <img id="error_page_image" class="img-fluid rounded margin-bottom container-with-shadow" src="~/Images/mtb_crash.jpg" alt="Mountain biker falls in rock garden" />
    </div>
</div>
