
@using MtbVisualizer.Models
@using IO.Swagger.Model
@model ICollection<Pin>

<div class="row mb-2">
    <div class="col">
        <h2 id="MapPageTitle" class="text-center">All of Your Activities</h2>
        <h6 class="text-center"><em>Powered by Strava</em></h6>
    </div>
</div>

@if (!User.Identity.IsAuthenticated)
{
    <div>
        <div class="col">
            <h6 class="text-center margin-bottom">
                <a asp-area="Identity" asp-page="/Account/Login">Login</a> to view to a monthly summary of your Strava data.                
            </h6>
        </div>
    </div>
}

<div class="row mb-3">
    <div class="col">
        <div id="mapContainer" class="container-with-shadow">
            <div id="mapDiv" style="width:100%;height:400px;">
                <div class="d-flex justify-content-center align-items-center align-self-center">
                    <div class="spinner-grow" role="status" style="margin-top: 300px;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="btn-toolbar btn-group-lg" role="toolbar" aria-label="Toolbar with button group to control map contents">
            <button class="btn btn-primary" id="map_show_rides">Rides</button>
            <button class="btn btn-primary" id="map_show_runs">Runs</button>
            <button class="btn btn-primary" id="map_show_all">All</button>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        $(".btn-group > .btn").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
        });

        $("#map_show_rides").click(function () {
            $("#mapDiv").empty()
            $("#mapDiv").html(mapSpinner)
            $("#MapPageTitle").html(titleRides)
            $("#mapDiv").load('@Url.Action("LoadMapByTypePartial")', {type : "Ride" })
        })

        $("#map_show_runs").click(function () {
            $("#mapDiv").empty()
            $("#mapDiv").html(mapSpinner)
            $("#MapPageTitle").html(titleRuns)
            $("#mapDiv").load('@Url.Action("LoadMapByTypePartial")', {type : "Run" })
        })


        $("#map_show_all").click(function () {
            $("#mapDiv").empty()
            $("#mapDiv").html(mapSpinner)
            $("#MapPageTitle").html(titleAll)
            $("#mapDiv").load('@Url.Action("LoadMapPartial")')
        })

        $("#mapDiv").load('@Url.Action("LoadMapPartial")')
      
    </script>
}
