
@using MtbVisualizer.Models
@using IO.Swagger.Model
@model ICollection<Pin>

    <div class="row mb-2">
        <div class="col">
            <h2 class="text-center">All of your activities</h2>
        </div>
    </div>

    <div>
        <div class="col">
            @if (!User.Identity.IsAuthenticated)
            {                
                <h6 class="text-center margin-bottom">
                    <a asp-area="Identity" asp-page="/Account/Login">Login</a> to view to a monthly summary of your Strava data.
                    You can also see a history of all your run, ride, and all other activities on the
                    <a asp-area="" asp-controller="Map" asp-action="LoadMap">Map</a> page.
                </h6>
            }            
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col">
            <div id="mapContainer" class="container-with-shadow">
                <div id="mapDiv" style="position:relative;width:100%;height:600px;"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col"> 
            <div class="btn-toolbar btn-group-lg" role="toolbar" aria-label="Toolbar with button group to control map contents">
                <button class="btn btn-primary" id="map_show_rides">Rides</button>
                <button class="btn btn-primary" id="map_show_runs">Runs</button>
                <button class="btn btn-primary" id="map_show_all">All</button>
            </div>
        </div>
    </div>

@section Scripts
{
    <script>
        $(".btn-group > .btn").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
        });
       
        $("#map_show_rides").click(function () {
            $("#mapDiv").load('@Url.Action("LoadMapByType")', {type : "Ride" })
        })
        

        
        $("#map_show_runs").click(function () {
            $("#mapDiv").load('@Url.Action("LoadMapByType")', {type : "Run" })
        })
        
        
        $("#map_show_all").click(function () {
            $("#mapDiv").load('@Url.Action("LoadMap")')
        })
        
        $.ajax({
            url: '@Url.Action("LoadMap")',
            type: 'GET',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                $('#mapDiv').html(result);
            }
        });
    </script>
}
