/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.wrapper {
    display: inline-block;
}

.container-flex {
    display: flex;
}

.container-flex-grow {
    flex-grow: 1;
}

.container-flex-center {
    display: flex;
    justify-content: center;
}

.container-center {    
    justify-content: center;
}

.container-flex-stretch {
    align-items: stretch;
}
.fixed-small {
    width: 200px;
}

.fixed-med {
    width: 400px;
}

.fixed-large {
    width: 600px;
}

.flex-large {
    flex: 1;
    min-width: 600px;
}

.flex-item {
    flex-grow: 1;
}

.p0 {
    padding: 0 !important;
}

.p1 {
    padding: 1;
}

.p2-top {
    padding-top: 5px;
}

.margin-right{
    margin-right: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.margin-top {
    margin-top: 50px;
}

.container-with-shadow {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    padding: 0px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
}

.bg-light-grey {
    background-color: #d9d9d9;
}

.custom-bg-dark {
    /*background-color: #4f4a4a;*/
    background-color: #e6e6e6;
}

.header {
    background-color: #d9d9d9;
}

.table-row.header {    
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
}

th, td {
    white-space: nowrap;
}

div.dataTables_wrapper {
    margin: 0 auto;
}

div.container {
    width: 80%;
}
.home-image{
    width: 400px;
}
