
@using StravaVisualizer.Models
@model ICollection<Pin>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AiazNxpO30PT7UwaV6w3yi9yxxYHIJ1CclFCdwHLt68WRhLpgGLMyij33FXz_psx'></script>
<script type='text/javascript'>
    var map;

    function loadMapScenario() {
        map = new Microsoft.Maps.Map(document.getElementById('bingMap'), {});
        var locations =[]
        @foreach (Pin pin in Model) {
            @: var location = new Microsoft.Maps.Location(@pin.Location.Latitude, @pin.Location.Longitude)
            @: locations.push(location)
            @: var pin = new Microsoft.Maps.Pushpin(location, {text: "@pin.Text"});
            @: map.entities.push(pin);
        }
        var rect = Microsoft.Maps.LocationRect.fromLocations(locations)
        map.setView({ bounds: rect, padding: 80 })
    }
</script>



<body onload='loadMapScenario();'>
    <div id='printoutPanel'></div>
    <div id="bingMap" style="position:relative;width:100%;height:500px;"></div>
</body>


