
@using StravaVisualizer.Models
@model ICollection<Pin>

<h2>Your rides</h2>
<a href="" data-ajax="true" data-ajax-url="/Map/LoadPartial" data-ajax-update="#mapDiv">Click here</a>
<div id="mapDiv"></div>




@section Scripts{
   
    @await Html.PartialAsync("_BingMapPartial")
    @*<script>

          $.ajax({
            url: '@Url.Action("LoadMap")',
            type: 'GET',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);

            },
            success: function (result) {

                $('#mapDiv').html(result);
            }
        });
    </script>*@
}