
@using StravaVisualizer.Models
@using IO.Swagger.Model
@model ICollection<Pin>

<h2>All of your activities</h2>

<div id="mapContainer"  class="container-with-shadow" >    
    <div id="mapDiv" style="position:relative;width:100%;height:600px;"></div>
</div>

<div id="mapControls" class="p2-top">
    <button class="ui-button ui-widget ui-corner-all btn btn-primary" id="map_show_rides">Rides</button>
    <button class="ui-button ui-widget ui-corner-all btn btn-primary" id="map_show_runs">Runs</button>
    <button class="ui-button ui-widget ui-corner-all btn btn-primary" id="map_show_all">All</button>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#map_show_rides").click(function () {
                $("#mapDiv").load('@Url.Action("LoadMapByType")', {type : "Ride" })    
            })
        })
    </script>    
    <script>
        $(document).ready(function () {
            $("#map_show_runs").click(function () {
                $("#mapDiv").load('@Url.Action("LoadMapByType")', {type : "Run" })
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $("#map_show_all").click(function () {
                $("#mapDiv").load('@Url.Action("LoadMap")')
            })
        })
    </script>
    <script>
        $.ajax({
            url: '@Url.Action("LoadMap")',
            type: 'GET',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                $('#mapDiv').html(result);                    
            }
        });
    </script>
}
