@using MtbVisualizer.ViewModels
@model ICollection<MonthSummaryActivity>

<h3 class="text-center">Active days this month</h3>
<div id="datepicker" class="home-item  container-with-shadow text-light"></div>

<script>
    @if (Model != null)
    {
        @:var activeDates = {}
        foreach (var activity in Model)
        {
            @: var csharpDate = "@activity.StartDate.Date.ToString()"
            @: var date = new Date(Date.parse(csharpDate))
            @: activeDates[date] = date.toString()
        }

        @:var eventDates = {}
        @:eventDates[new Date('10/10/2019')] = new Date('10/10/2019').toString()
        @:$(document).ready(function () {
        @:$(function () {
        @:    $("#datepicker").datepicker({
        @:        beforeShowDay: function (date) {
        @:              var highlight = activeDates[date]
        @:              if (highlight) {
        @:                    return [true, "activity", '']
        @:                }
        @:                else {
        @:                  return [true, '', '']
        @:                }
        @:            }
        @:        });
        @:});
        @:})
    }
    else
    {
        @:$(documnet).ready(function () {
        @:$(function () {
        @:    $("#datepicker").datepicker();
        @:})
        @:})
    }
</script>
