

<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AiazNxpO30PT7UwaV6w3yi9yxxYHIJ1CclFCdwHLt68WRhLpgGLMyij33FXz_psx'></script>

<script type='text/javascript'>
    var map;
    function loadMapScenario() {
        map = new Microsoft.Maps.Map(document.getElementById('bingMap'), {});
    }
</script>

<body onload='loadMapScenario();'>
    <div id='printoutPanel'></div>

    <div id="bingMap" style="position:relative;width:100%;height:500px;"></div>    
</body>


